<div class="row">
  <div class="col s4"></div>
   <div class="col s4 form-block">
      <br>
      <h4 class="center-align">Register</h4>
      <%= form_for @user, url: '/register'  do |form| %>
        <% if @user.errors.any? %>
          <ul class="error-message">
            <% @user.errors.full_messages.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        <% end %>

        <div class="row">
          <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
            <%= form.text_field :username, class: 'validate form-field active', placeholder: 'Username'%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_open</i>
            <%= form.password_field :password, class: 'validate  form-field active', placeholder: 'Password' %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <%= form.password_field :password_confirmation, class: 'validate  form-field active', placeholder: 'Confirm Password' %>
          </div>
        </div>
        <center>
          <%= form.submit 'Register', class: 'btn btn-medium center-align waves-effect waves-light no-uppercase' %>
        </center><br>
      <% end %>
    </div>
    <div class="col s4"></div>
</div>


